<h3>Logged in as <%= current_user.name %></h3>

<% if current_user.activated %>
  <h3> Status: Active </h3>
<% else %>
  <h3>This account has not yet been activated. Please check your email.</h3>
<% end %>

<p><%= link_to 'Logout', logout_path, method: :delete %></p>
